{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\froman\fcharset0 Times-Roman;}
{\colortbl;\red255\green255\blue255;\red212\green212\blue212;\red0\green0\blue0;\red220\green196\blue155;
\red234\green212\blue174;\red191\green127\blue129;\red109\green143\blue108;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c86275\c86275\c86275;\csgray\c0\c0;\cssrgb\c89020\c80784\c67059;
\cssrgb\c93725\c86275\c73725;\cssrgb\c80000\c57647\c57647;\cssrgb\c49804\c62353\c49804;\cssrgb\c0\c0\c0;}
\margl1440\margr1440\vieww28620\viewh14080\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs32 \cf2 \cb3 \expnd0\expndtw0\kerning0
<?xml version="1.0" encoding="UTF-8" ?>\
\pard\pardeftab720\partightenfactor0
\cf4 <\cf5 widget\cf4  xmlns   = \cf6 "http://www.w3.org/ns/widgets"\cf4 \
    xmlns:gap   = \cf6 "http://phonegap.com/ns/1.0"\cf4 \
    id          = \cf6 "com.zaheerbrosapps.lost\'94\cf4 \
    versionCode = \cf6 "10"\cf4 \
    version     = \cf6 "1.0.0"\cf4  >\cf2 \
\
\pard\pardeftab720\partightenfactor0
\cf7 <!-- versionCode is optional and Android only -->\cf2 \
\
  \cf4 <\cf5 name\cf4 >\cf2 Lost!\cf4 </\cf5 name\cf4 >\cf2 \
\
  \cf4 <\cf5 description\cf4 >\cf2 \
      \
\pard\pardeftab720\sl280\partightenfactor0

\f1\fs24 \cf8 \cb1 \outl0\strokewidth0 \strokec8 Can you help our explorer find her way out of the jungle? Just use the arrow keys (or click the mouse) to move along the path to find all the things she needs. Oh, the orange button shows the stuff she has collected. 
\f0\fs32 \cf2 \cb3 \outl0\strokewidth0 This is a Port of Scratch Game \'93Lost in the Jungle\'94  \cf4 </\cf5 description\cf4 >\cf2 \
\pard\pardeftab720\partightenfactor0
\cf2 \
  \cf4 <\cf5 author\cf4  href=\cf6 "https://build.phonegap.com"\cf4  email=\cf6 \'93aman.shahmir.shahaan@gmail.com\'94\cf4 >\cf2 \
      Hardeep Shoker\
  \cf4 </\cf5 author\cf4 >\cf2 \
\
<icon src=\'93icon.png\'94 />\
\
\pard\pardeftab720\partightenfactor0
\cf4 </\cf5 widget\cf4 >}